@import "tailwindcss";

/* --- CUSTOM SCROLLBAR DESIGN (Chrome, Edge, Safari) --- */
/* These styling rules allow for hover effects and custom shapes */

::-webkit-scrollbar {
  width: 10px;  /* Vertical width */
  height: 10px; /* Horizontal height */
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f97316;
  border: 0px solid transparent;
}

/* --- FIREFOX SUPPORT ONLY --- */
@supports (-moz-appearance:none) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
  }
}

/* --- UTILITIES --- */
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-sans: var(--font-poppins);

  --color-brand: #EF9621;
  --color-brand-light: #F5AF1B;
  --color-dashboard: #F9F9F9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}